* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #A7CFF2;
}


h1{
    text-align: center;
    font-family: 'monteya-font';
    font-size: 80px;
    
}

.special{
    background-color: #97A660;
    color: white;
    border-radius: 10px;
}

.special > button{
    background-color: #54592C;
    font-size: 20px;
    color: white;
    padding: 5px;
    margin-top: 5px;
}

#divs-ilike{
    background-color: #54592C;
    color: white;
    border-radius: 10px;
}

h2{
    margin-top: 50px;
    font-family: 'text-font';
    font-size: 30px;
}

button{
    font-family: 'button-font';
    border-radius: 15px;
}

.flex-row {
    flex-direction: row;
    display: flex;
    width: 50%;
}

.flex-column {
    flex-direction: column;
    display: flex;
    width: 50%;
}

.flex-body {
    display: flex;
    width: auto;
}

.flex-body div:not([class*="flex"]) {
    
    flex: 1 1 200px;
    width: 100%;
    text-align: center;
}

figure {
    margin: 0;
}

figcaption{
    font-family: 'text-font';
    margin-top: 50px;
    font-size: 30px;
}

#time{
    font-family:'digital-clock-font';
    font-size: 250px;
}

#start{
    font-size: 50px;
    background-color: #97A660;
}

#quote-container{
    font-family: 'text-font';
    font-size: 20px;
}

.audio-btn{
  background-color: #97A660; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#mydiv{
    padding: 10px;
    
}

#btn-div{
    padding-top: 15px;
}

#game{
    width: 10000px;
    height: 1000px;
}

iframe{
    width: 1200px;
    height: 500px;
    display: block;
    margin: auto;
   
}




@font-face{
    font-family:'digital-clock-font';
    src: url('digital-7.ttf');
}

@font-face{
    font-family:'monteya-font';
    src: url('Monteya.ttf');
}

@font-face{
    font-family:'button-font';
    src: url('MADEOkineSansPERSONALUSE-Bold.otf');
}

@font-face{
    font-family:'text-font';
    src: url('Astonpoliz.otf');
}

